requests
flask
gunicorn
psycopg2-binary

gevent

werkzeug
sendgrid
faker
pytz
sqlalchemy
pyodbc
newsapi-python
eventbrite
scrapetube
pymysql
schedule
sentry-sdk
squareup
firebase_admin
Flask-Caching
openai
hvac

translatepy
pytest
coverage
requests-mock
pytest-watch
pytest-mock
